<div class="{{ class | default: '' }} space-x-1" style="{{ style | default: '' }}">
  {% for link in linklists.main-menu.links %}
    <a
      href="{{ link.url }}"
      class="inline-flex lg:px-2 xl:px-5 py-3 items-center gap-2 text-primary text-2xl leading-tight transition duration-150 hover:underline"
      aria-label="{{ link.title }}"
    >
      <span>{{ link.title }}</span>
      <i class="mt-1.5">
        {% render 'icon-arrow-down.liquid' %}
      </i>
    </a>
  {% endfor %}
</div>