<div class="{{ class | default: '' }} space-x-1" style="{{ style | default: '' }}">
  {% for link in linklists.main-menu.links %}
    <a
      href="{{ link.url }}"
      class="inline-flex px-5 py-3 items-center gap-2 text-primary text-2xl leading-tight border-b transition duration-150 {% if link.active %}border-black{% else %}border-transparent hover:underline{% endif %}"
      aria-label="{{ link.title }}"
    >
      <span>{{ link.title }}</span>
      <i class="mt-1.5">
        {% render 'icon-arrow-down.liquid' %}
      </i>
    </a>
  {% endfor %}
</div>