<div class="{{ class | default: '' }}" style="{{ style | default: '' }}">
  {% if image %}
    <img
      sizes="
        (min-width: 1536px) 500px,
        (min-width: 1280px) 400px,
        (min-width: 1024px) 350px,
        (min-width: 768px) 350px,
        (min-width: 640px) 300px,
        500px
      "
      srcset="
        {{ image | image_url: width: 300 }} 300w,
        {{ image | image_url: width: 350 }} 350w,
        {{ image | image_url: width: 400 }} 400w,
        {{ image | image_url: width: 500 }} 500w
      "
      src="{{ image | image_url: width: 500 }}"
      alt="{{ image.alt }}"
      loading="lazy"
      class="w-full h-full object-cover object-center"
    >
  {% else %}
    {{ 'image' | placeholder_svg_tag: 'w-full h-full border' }}
  {% endif %}
</div>