{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="mx-0 px-0 lg:m-auto max-w-screen-xl grid md:grid-cols-2 lg:grid-cols-6 lg:pb-8 md:gap-2 xl:gap-8 mb-8" data-selected-variant-id="{{ current_variant.id }}">
  <div class="md:hidden px-4">
    {% if product.title %}
      <h1 class="text-2xl text-primary lg:text-3xl font-bold mb-0">
        {{ product.title }}
      </h1>
    {% endif %}
    
    <div class="flex items-center gap-2 pt-2 pb-3">
      {% if section.settings.enable_star_rating %}
        <div class="flex">
          {% assign rating = product.metafields.custom.star_rating %}
          {% for i in (1..5) %}
            <div class="h-3 w-3 mr-1 jump">
              {% if i <= rating %}
                {% render 'icon-star.liquid' %}
              {% else %}
                {% render 'icon-star-line.liquid' %}
            {% endif %}
            </div>
          {% endfor %}
        </div>
        <span class="text-line underline underline-offset-2 text-sm">150 Reviews</span>
      </div>
    {% endif %}

    {% if current_variant.available %}
        <div class="flex gap-2">
          <span v-html="$store.getters['product/getPrice']" class="inline-block text-xl lg:text-2xl text-primary font-semibold">
          </span>

          {% if current_variant.compare_at_price %}
            <del v-html="$store.getters['product/getCompareAtPrice']" class="text-xl lg:text-2xl text-primary opacity-60 font-semibold">
            </del>

            {% assign ratio = current_variant.price | times: 100 | divided_by: current_variant.compare_at_price %}
            

            <div class="bg-secondary flex items-center h-8 text-primary text-sm tracking-wider uppercase px-2 py-1">
              <span v-html="$store.getters['product/getDiscount']">
              </span>
              {{- 'common.sale' | t -}} 
            </div>
          {% endif %}
        </div>
    {% else %}
      <div class="mb-6">
        {{ 'common.sold_out' | t }}
      </div>
    {% endif %}

  
  </div>
  
  <renderless-simple-slider slider-class="slider" slider-container-class="slider-container" v-slot="{ slideTo, slideNext, slidePrev, activeSlider }" >
    <div class="flex lg:hidden h-full items-center relative max-w-full">
      {% if section.settings.enable_slider_controls %}
        <button @click="slidePrev" type="button" class="bg-[#eee] border border-[#fafafa] rounded-full slider-prev absolute z-10 left-5 h-10 w-10 flex justify-center items-center" aria-label="show previous image"> {% render 'icon-chevron-left' %}</button>
        <button @click="slideNext" type="button" class="bg-[#eee] border border-[#fafafa] rounded-full slider-next absolute z-10 right-1 mr-0 h-10 w-10 flex justify-center items-center" aria-label="show next image"> {% render 'icon-chevron-right' %}</button>
      {% endif %}
      <div class="pl-4 mt-8 slider scroll-smooth overflow-x-auto w-[calc(100vw-1rem)] pb-14 mb-2 md:pb-0 md:m-0">
        
          <div class="slider-container relative gap-0 inline-flex flex-nowrap">

            {% assign index = 0 %}
            <div class="w-[90vw] md:w-[45vw] slide" data-index="{{ index }}">
              <img
                alt="{{ featured_image.alt | escape }}"
                srcset="
                  {{ featured_image | image_url: width: 375 }} 375w,
                  {{ featured_image | image_url: width: 500 }} 500w,
                  {{ featured_image | image_url: width: 750 }} 750w,
                  {{ featured_image | image_url: width: 1000 }} 1000w,
                  {{ featured_image | image_url: width: 1200 }} 1200w
                "
                sizes="100vw"
                loading="eager"
                class="w-full h-auto object-cover object-center"
              >
            </div>
            {% for image in product.images %}
              {% if image.id != featured_image.id %}
                {% assign index = index | plus: 1 %}
                <div class="w-[90vw] md:w-[45vw] slide" data-index="{{ index }}">
                  <img
                      srcset="
                        {{ image | image_url: width: 375 }} 375w,
                        {{ image | image_url: width: 500 }} 500w,
                        {{ image | image_url: width: 750 }} 750w,
                        {{ image | image_url: width: 1000 }} 1000w,
                        {{ image | image_url: width: 1200 }} 1200w
                      "
                      sizes="100vw"
                      alt="{{ image.alt | escape }}"
                      loading="eager"
                      class="w-full h-auto object-cover object-center"
                    >
                </div>
                {% endif %}  
              {% endfor %}
              
            </div>

          {% if product.images.size > 1 %}
            <div class="pagination absolute mt-4 flex gap-4 py-2">
              {% for image in product.images %}
                <button @click="slideTo({{ forloop.index0 }})" data-index="{{ forloop.index0 }}" class="bubble {% if forloop.index0 == 0 %}active {% endif %}h-3 w-3 rounded-full" aria-label="Bubble button to active slider {{ forloop.index }}"></button>
              {% endfor %}
            </div>
          {% endif %}
            
      </div>
    </div >
  </renderless-simple-slider>
  
  <div class="hidden lg:flex w-full items-start col-span-4">
    <div class="lg:pl-4 lg:grid {% if product.images.size > 1 %} grid-cols-2{% endif %} w-full gap-6">
      {% assign index = 0 %}
      <div class="h-auto max-h-[50vh]" data-index="{{ index }}">
        <img
          alt="{{ featured_image.alt | escape }}"
          srcset="
            {{ featured_image | image_url: width: 375 }} 375w,
            {{ featured_image | image_url: width: 500 }} 500w,
            {{ featured_image | image_url: width: 750 }} 750w,
            {{ featured_image | image_url: width: 1000 }} 1000w,
            {{ featured_image | image_url: width: 1200 }} 1200w
          "
          sizes="100vw"
          loading="lazy"
          class="w-full transition-transform duration-200 hover:scale-105 h-auto max-h-[50vh] object-contain object-center"
        >
      </div>
      {% for image in product.images %}
        {% if image.id != featured_image.id %}
        {% assign index = index | plus: 1 %}
          <div class="h-auto" data-index="{{ index }}">
            <img
                srcset="  {{ image | image_url: width: 375 }} 375w,
                {{ image | image_url: width: 500 }} 500w,
                {{ image | image_url: width: 750 }} 750w,
                {{ image | image_url: width: 1000 }} 1000w,
                {{ image | image_url: width: 1200 }} 1200w"
                sizes="100vw"
                alt="{{ image.alt | escape }}"
                loading="lazy"
                class="w-full transition-transform duration-200 hover:scale-105 h-auto object-contain object-center"
              >
          </div>
        {% endif %}  
      {% endfor %}
    </div>
  </div>

  <div class="lg:col-span-2 px-4 md:mt-12 lg:mt-0">
    <div class="hidden md:block px-4 md:px-0">
      {% if product.title %}
        <h1 class="text-2xl text-primary lg:text-3xl font-bold lg:font-normal mb-0">
          {{ product.title }}
        </h1>
      {% endif %}
      
      <div class="flex items-center gap-2 py-2">
        {% if section.settings.enable_star_rating and product.metafields.custom.star_rating != nil %}
          <div class="flex">
            {% assign rating = product.metafields.custom.star_rating %}
            {% for i in (1..5) %}
              <div class="h-4 w-4 mr-1 jump">
                {% if i <= rating %}
                  {% render 'icon-star.liquid' %}
                {% else %}
                  {% render 'icon-star-line.liquid' %}
              {% endif %}
              </div>
            {% endfor %}
          </div>
          <span class="text-line underline underline-offset-2">150 Reviews</span>
        {% endif %}
      </div>
  
      {% if current_variant.available %}
          <div class="flex gap-3">
            <span v-html="$store.getters['product/getPrice']" class="inline-block text-xl lg:text-2xl text-primary font-semibold">
            </span>
  
            {% if current_variant.compare_at_price %}
              <del v-html="$store.getters['product/getCompareAtPrice']" class="text-xl lg:text-2xl text-primary opacity-60 font-semibold">
              </del>
  
              <div class="bg-secondary flex items-center h-8 text-primary text-sm lg:text-md tracking-wider uppercase px-2 py-1">
                
                
                <span v-html="$store.getters['product/getDiscount']"></span>
                {{- 'common.sale' | t -}} 
              </div>
            {% endif %}
          </div>
      {% else %}
        <div class="mb-6">
          {{ 'common.sold_out' | t }}
        </div>
      {% endif %}
    </div>

    {% if product.description %}
      <div class="mt-4 mb-6">
        {{ product.description }}
      </div>
    {% endif %}

    {% form 'product', product %}
      <div class="flex items-end gap-4 mb-6">
        <input
          type="hidden"
          name="quantity"
          value="1"
          min="1"
          pattern="[0-9]*"
          class="w-16"
        >
        <renderless-init-selected-variant :current-variant="{{ current_variant | json | replace: '"', "'" }}" v-slot="{ currentVariant }"></renderless-init-selected-variant>
        
        {% if product.has_only_default_variant %}
        <input
          name="id"
          type="hidden"
          :value="{{ current_variant.id }}"
          readonly
        >
        {% else %}
          <div class="w-full">
            <renderless-product-variant-selector
              v-slot="{ selectedVariant, selectOption }"
              :current-variant="{{ current_variant | json | replace: '"', "'" }}"
              :product-options="{{ product.options_with_values | json | replace: '"', "'" }}"
              :product-variants="{{ product.variants | json | replace: '"', "'" }}"
            >
              <input
                name="id"
                type="hidden"
                :value="selectedVariant.id"
                readonly
              >

              <div class="flex flex-col gap-x-3 gap-y-2 w-full">
                {% for option in product.options_with_values %}
                  <div class="space-y-1" data-option="{{ option.name }}" data-option-index="option{{ forloop.index }}">
                    {% if option.name == 'Size' %}
                      <div class="flex justify-between">
                        <label class="text-lg lg:text-md lg:mb-4 text-primary" for="product-select-option-{{ forloop.index }}">
                          {{ option.name | escape }}:
                        </label>

                        <a href="#" class="text-primary underline">Help me choose</a>
                      </div>
                    {% else %}
                      <label class="text-lg lg:text-md lg:mb-4 text-primary" for="product-select-option-{{ forloop.index }}">
                        {{ option.name | escape }}:
                      </label>
                    {% endif %}


                    {% assign values = option.values %}
                    <div class="{% if values.size > 9 %}grid grid-cols-9 gap-1 {% else %}flex flex-nowrap gap-1 {% endif %}  w-full">
                      {% for value in values %}
                        <div class="w-full">
                          <label class="option visible text-lg lg:mb-0 flex items-center text-center justify-center p-2 rounded-xl {% if option.selected_value == value %} active {% endif %}" for="{{value}}" data-value="{{value}}">{{ value | escape }} </label>
                          <input 
                            @input="selectOption({
                              name: '{{ option.name }}'
                            }, $event)"
                            id="{{ value }}" name="{{ option.name }}" type="radio" class="sr-only" value="{{value}}" />
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </renderless-product-variant-selector>
          </div>
        {% endif %}
      </div>

      <div class="w-full">
        <div>
          <button name="add" class="text-white hover:scale-105 transition-transform bg-primary w-full h-12">
            {{ 'action.add_to_cart' | t }} <span v-html="$store.getters['product/getPrice']"></span>
          </button>
        </div>

        {% if section.settings.guarantee_icon != nil and section.settings.guarantee_text != nil %}
          <div class="flex mt-4 w-full gap-2 justify-center items-center">
            <img 
              src="{{ section.settings.guarantee_icon | image_url }}" 
              width="{{ section.settings.guarantee_icon.width }}" 
              height="{{ section.settings.guarantee_icon.height }}" 
              alt="{{ section.settings.guarantee_icon.alt | default: 'Guarantee icon' }}"
              loading="eager" />
            <p class="text-primary">{{ section.settings.guarantee_text }}</p>
          </div>
        {% endif %}
      </div>
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "class": "shopify-section-vue",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_star_rating",
      "label": "t:sections.main-product.settings.enable_star_rating",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_slider_controls",
      "label": "t:sections.main-product.settings.enable_slider_controls",
      "default": false
    },
    {
      "type": "text",
      "id": "guarantee_text",
      "label": "t:sections.main-product.settings.guarantee_text"
    },
    {
      "type": "image_picker",
      "id": "guarantee_icon",
      "label": "t:sections.main-product.settings.guarantee_icon"
    }
  ]
}
{% endschema %}